In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [2]:

df=pd.read_csv('churn.csv')
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,145.805,0

In [3]:
df['Churn'].value_counts()

0    2404
1     446
Name: Churn, dtype: int64

**Inference:**
    
 Class Imbalance

In [4]:
X=df.drop('Churn',axis=1)
X

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Customer Value
0,8,0,38,0,4370,71,5,17,3,1,1,197.640
1,0,0,39,0,318,5,7,4,2,1,2,46.035
2,10,0,37,0,2453,60,359,24,3,1,1,1536.520
3,10,0,38,0,4198,66,1,35,1,1,1,240.020
4,3,0,38,0,2393,58,2,33,1,1,1,145.805
...,...,...,...,...,...,...,...,...,...,...,...,...
2845,17,0,17,1,9237,177,80,42,5,1,1,261.210
2846,13,0,18,4,3157,51,38,21,3,1,1,280.320
2847,8,1,11,2,1792,25,7,9,3,1,1,100.680
2848,26,0,38,9,10740,99,8,44,5,2,1,174.585
2849,5,1,38,0,933,13,16,6,4,1,2,63.650

In [5]:
y=df['Churn']
y

0       0
1       0
2       0
3       0
4       0
       ..
2845    0
2846    0
2847    1
2848    0
2849    1
Name: Churn, Length: 2850, dtype: int64

In [6]:
# Instantiate SMOTE
sm = SMOTEENN()

# Apply SMOTE to the dataset
X_resampled, y_resampled = sm.fit_resample(X, y)

In [7]:
X_resampled.shape

(3780, 12)

In [8]:
y_resampled.shape

(3780,)

In [9]:
y_resampled.value_counts()

1    2077
0    1703
Name: Churn, dtype: int64

In [10]:
#
X_train,X_test,y_train,y_test=train_test_split(X_resampled,y_resampled,test_size=0.20,random_state=56)

In [11]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10).fit(X_train,y_train)
prediction=model.predict(X_test)

In [12]:
y_predict = model.predict(X_test)

In [13]:
print(confusion_matrix(y_test,y_predict))
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

[[342  12]
 [  3 399]]
0.9801587301587301
              precision    recall  f1-score   support

           0       0.99      0.97      0.98       354
           1       0.97      0.99      0.98       402

    accuracy                           0.98       756
   macro avg       0.98      0.98      0.98       756
weighted avg       0.98      0.98      0.98       756

## Pickling the model File for Deployment

In [14]:
import pickle
filename = 'model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [15]:
load_model = pickle.load(open(filename, 'rb'))
model_score_r1 = load_model.score(X_test, y_test)

In [16]:
model_score_r1

0.9801587301587301